.list {
  display: flex;
  flex-direction: column;
  gap: 24px;

  margin-bottom: 44px;
}

@media only screen and (min-width: 768px) {
  .list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px 24px;
    margin-bottom: 60px;
  }
}

@media only screen and (min-width: 1280px) {
  .list {
    gap: 40px 35px;
  }
}
