.topBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;

  &.noPets {
    margin-bottom: 40px;
  }
}

.title {
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #2b2b2a;
}

.addPetLink {
  display: flex;
  align-items: center;
  gap: 4px;

  border-radius: 30px;
  padding: 10px 16px;
  background-color: #f6b83d;

  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #fff;

  transition: background-color 300ms ease;

  & svg {
    fill: none;
    stroke: #fff;
  }

  &:hover,
  &:focus {
    background-color: #f9b020;
  }

  &:active {
    background-color: #f6b83d;
  }
}

@media only screen and (min-width: 768px) {
  .topBox.noPets {
    margin-bottom: 80px;
  }

  .title {
    font-size: 18px;
    line-height: 133%;
  }

  .addPetLink {
    padding: 10px 20px;
    font-size: 16px;
    line-height: 125%;
  }
}

@media only screen and (min-width: 1280px) {
}
