.section {
  padding-top: 18px;
  padding-bottom: 80px;
}

@media only screen and (min-width: 768px) {
  .section {
    padding-top: 53px;
  }
}

@media only screen and (min-width: 1280px) {
  .section {
    padding-top: 64px;
  }
}
