.section {
  padding-bottom: 10px;
}

.contentBox {
  padding: 44px 20px 50px;
  border-radius: 0 0 30px 30px;
  background-color: #f6b83d;
}

.title {
  font-weight: 700;
  font-size: 50px;
  line-height: 96%;
  letter-spacing: -0.03em;
  color: #fff;

  margin-bottom: 24px;

  & span {
    color: rgba(255, 255, 255, 0.4);
  }
}

.text {
  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: #fff;
}

.imgMob {
  border-radius: 30px;
}

.imgTab,
.imgDesc {
  display: none;
  border-radius: 60px;
}

@media only screen and (min-width: 768px) {
  .section {
    padding-bottom: 16px;
  }

  .contentBox {
    padding: 80px 32px 55px;
    border-radius: 0 0 60px 60px;
  }

  .title {
    font-size: 80px;
    margin-bottom: 32px;
  }

  .text {
    font-size: 18px;
    line-height: 122%;
    width: 255px;
    margin-left: auto;
  }

  .imgTab {
    display: block;
  }

  .imgMob,
  .imgDesc {
    display: none;
  }
}

@media only screen and (min-width: 1280px) {
  .contentBox {
    padding: 80px 64px 32px;

    display: flex;
    align-items: flex-end;
    gap: 73px;
  }

  .title {
    margin-bottom: unset;

    font-size: 90px;
    line-height: 97%;
  }

  .text {
    flex-shrink: 0;
  }

  .imgDesc {
    display: block;
  }

  .imgMob,
  .imgTab {
    display: none;
  }
}
