.section {
  padding-top: 18px;
  padding-bottom: 80px;
}

.topBox {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-bottom: 24px;
}

.textMessage {
  font-weight: 600;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .section {
    padding-top: 53px;
  }

  .topBox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: unset;

    margin-bottom: 44px;
  }

  .textMessage {
    font-size: 16px;
    line-height: 125%;
  }
}

@media only screen and (min-width: 1280px) {
  .section {
    padding-top: 64px;
  }

  .topBox {
    margin-bottom: 60px;
  }

  .textMessage {
    font-size: 18px;
  }
}
