.wrap {
  position: relative;
  width: 100%;
}

.btnsBox {
  position: absolute;
  top: 50%;
  right: 12px;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  gap: 4px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;

  & svg {
    fill: none;
    stroke: #262626;
    transition: transform 300ms ease;
  }

  &:hover svg,
  &:focus svg {
    transform: scale(1.1);
  }

  &:active svg {
    transform: scale(1);
  }
}

.optionSearchText {
  color: rgba(38, 38, 38, 0.4);
}

.optionSearchTextCurrent {
  color: #262626;
}

:global(.locationsSelect__control) {
  border: none !important;
  cursor: text !important;
  border-radius: 30px !important;

  font-weight: 500;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: #262626;

  min-height: unset !important;
}

:global(.locationsSelect__control--is-focused) {
  box-shadow: none !important;
}

:global(.locationsSelect__value-container) {
  padding: 12px !important;
  padding-right: unset !important;
}

:global(.locationsSelect__input-container) {
  margin: 0 !important;
  padding: 0 !important;
}

:global(.locationsSelect__single-value) {
  margin: 0 !important;
  color: #262626 !important;
}

:global(.locationsSelect__placeholder) {
  margin: 0 !important;
}

:global(.locationsSelect__indicator-separator) {
  display: none;
}

:global(.locationsSelect__indicator) {
  display: none !important;
}

:global(.locationsSelect__menu) {
  border-radius: 15px !important;
  box-shadow: none !important;
  margin-top: 4px !important;
  background-color: #fff !important;
  padding: 8px 12px;
  max-height: 216px !important;
}

:global(.locationsSelect__menu-list) {
  padding-top: unset !important;
  padding-bottom: unset !important;
  max-height: 200px !important;
}

:global(.locationsSelect__option) {
  cursor: pointer !important;

  font-weight: 500;
  font-size: 14px !important;
  line-height: 129%;
  letter-spacing: -0.03em;
  color: rgba(38, 38, 38, 0.6) !important;

  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 4px 0 !important;

  transition: color 300ms ease;
}

:global(.locationsSelect__option--is-focused) {
  background-color: transparent !important;
  color: #f9b020 !important;

  & span {
    color: #f9b020;
  }
}

:global(.locationsSelect__option--is-selected) {
  background-color: transparent !important;
  color: #f6b83d !important;

  & span {
    color: #f6b83d;
  }
}

@media only screen and (min-width: 768px) {
  .wrap {
    flex-shrink: 0;
    width: 227px;
  }

  :global(.locationsSelect__control) {
    font-size: 16px;
    line-height: 125%;
  }

  :global(.locationsSelect__value-container) {
    padding: 14px !important;
    padding-right: unset !important;
  }

  :global(.locationsSelect__indicator) {
    padding: 14px !important;
  }

  :global(.locationsSelect__menu) {
    padding: 10px 14px;
  }

  :global(.locationsSelect__option) {
    font-size: 16px !important;
    line-height: 125%;
  }
}
