.nav {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  display: none;
  align-items: center;
  gap: 10px;

  &.homePage .link {
    color: #fff;
    border-color: rgba(255, 255, 255, 0.4);

    &.currentPage {
      border-color: #fff;
    }

    &:hover,
    &:focus {
      border-color: #fff;
    }
  }
}

.link {
  border: 1px solid rgba(38, 38, 38, 0.15);
  border-radius: 30px;
  padding: 14px 19px;
  max-height: 50px;

  letter-spacing: -0.03em;

  transition: border-color 300ms ease;

  &.currentPage {
    border-color: #f6b83d;
  }

  &:hover,
  &:focus {
    border-color: #f6b83d;
  }
}

/* Стилі коли компонент знаходиться в бургер-меню*/
.nav.isMenu {
  position: static;
  left: unset;
  transform: translateX(0);

  display: flex;
  flex-direction: column;

  & .link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 119px;
  }
}

@media only screen and (min-width: 1280px) {
  .nav {
    display: flex;
  }
}
