.btn {
  display: none;

  border: none;
  background-color: #f6b83d;
  border-radius: 30px;
  padding: 15px 35px;

  font-weight: 700;
  line-height: 125%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;

  transition: background-color 300ms ease;

  &.homePage {
    display: none;
  }

  &.inMenu {
    display: block;
    background-color: #fff4df;
    color: #f6b83d;
    font-size: 14px;
    line-height: 129%;
    padding: 12px;
    width: 100%;

    &:hover,
    &:focus {
      background-color: #fbe7c1;
    }

    &:active {
      background-color: #fff4df;
    }

    &.homePage {
      background-color: #f6b83d;
      color: #fff;

      &:hover,
      &:focus {
        background-color: #f9b020;
      }

      &:active {
        background-color: #f6b83d;
      }
    }
  }

  &:hover,
  &:focus {
    background-color: #f9b020;
  }

  &:active {
    background-color: #f6b83d;
  }
}

@media only screen and (min-width: 768px) {
  .btn {
    display: block;

    &.inMenu {
      font-size: 16px;
      line-height: 125%;
      padding: 15px;
    }
  }
}

@media only screen and (min-width: 1280px) {
}
