.btn {
  display: none;

  border: none;
  background-color: #f6b83d;
  border-radius: 30px;
  padding: 15px 35px;

  font-weight: 700;
  line-height: 125%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fff;

  transition: background-color 300ms ease;

  &:hover,
  &:focus {
    background-color: #f9b020;
  }

  &:active {
    background-color: #f6b83d;
  }
}

@media only screen and (min-width: 768px) {
  .btn {
    display: block;
  }
}

@media only screen and (min-width: 1280px) {
}
