.section {
  padding-top: 6px;
  padding-bottom: 20px;
}

.addPetContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

@media only screen and (min-width: 768px) {
  .section {
    padding-top: 0;
    padding-bottom: 32px;
  }

  .addPetContainer {
    gap: 16px;
  }
}

@media only screen and (min-width: 1280px) {
  .addPetContainer {
    flex-direction: row;
    gap: 32px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
